/* Add your CSS styles here for a visually appealing layout */
header {
  background-color: royalblue;
  height: 80px;
  
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav, section, aside, footer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

/* Add more styles as needed */
